*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
}
.flex-box{
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
   
}
.flex-box:nth-child(0){
    background-color: #ff61ff;
    flex-grow: 1;
}
.flex-box:nth-child(3){
    background-color: red;
    flex-grow: 2;
}
.flex-box:nth-child(2){
    background-color: green;
    flex-grow: 3;
}
